*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header{
    padding: 10px 2%;
}

.logo{
    width: 200px;
    cursor: pointer;
    padding: 10px;
}

.signIn-container{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(Image/signImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto 7% auto;
}

fieldset{
    width: 350px;
    background: rgba(0, 0, 0, 0.681);
    margin-bottom: 30px;
    border: none;
}

.sign{
   padding: 20px;
}

.sign h1{
    color: #fff;
    margin: 0 0 10px 0;
}

.input-box input{
    padding: 12px 0;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: 0;
    background-color: rgb(38, 35, 35);
}

.input-box input[type='email'], .input-box input[type='password']{
    padding: 15px;
    font-size: 22px;
    color: #ffffffc1;
}


/* start of remember-forgot */
.remember-forgot{
    position: relative;
    padding: 20px 20px 20px 0;
    margin-bottom: 10px;
}
input[type="checkbox"]{
    accent-color: green;
    font-size: 20px;
}

.help{
    position: absolute;
    right: 20px;
}

.help a{
    color: #fff;
    text-decoration: none;
}

label, .remember{
    color: #fff;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

form .signIn-btn{
    width: 100%;
    margin: 5px auto;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: red;
    cursor: pointer;
    border: 0;
    outline: 0;
}

/* start of sign footer */
.sign-footer nav{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sign-footer nav p{
    margin-left: 10px;
}

.sign-footer nav p a{
    text-decoration: none;
}

.sign-footer nav p a:hover{
    text-decoration: underline;
}

.sign-footer nav img{
    width: 20px;
}

.sign-footer, nav p, .sign-footer nav a{
    color: gray;
    font-weight: 700;
}

.sign-footer a{
    text-decoration: none;
}

.sign-footer nav{
    margin-bottom: 14px;
}

.sign-footer nav a{
    text-decoration: none;
}

.sign-footer .text{
    font-size: 15px;
}

.sign-footer .text a{
    color: blue;
    font-weight: 300;
}
.sign-footer .text a:hover, .sign-footer #text a:hover{
    text-decoration: underline;
}

.sign-footer #text a{
    color: #fff;
}

.sign-footer #text{
    margin-bottom: 15px;
}
.sign-footer .text{
    margin-bottom: 30px;
}
.signIn-btn a{
    text-decoration: none;
    color: #fff;
}

/* start of footer */
footer{
    padding: 50px 15% 10px;
    color: #777777;
    background: rgba(0, 0, 0, 0.801);
}

footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

 footer .col{
    flex: 1;
    margin-bottom: 20px;
}

footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 14px;
}

footer .row{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    
}

footer .lang-btn{
    color: #ffffff;
    background: transparent;
    padding: 10px 20px;
    border-radius: 3px;
}

.facebook-logo{
    width: 25px;
}

.lang-btn img{
    width: 10px;
    margin-left: 10px;
}

.copyright-text{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

 @media(max-width:600px){
    .logo{
        width: 150px;
    }
    footer .row{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
 }
