*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.logo{
    padding: 20px 5%;
}

.logo img{
    width: 150px;
}

.users-container{
    width: 100%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.users-container h1{
    color: #fff;
    margin-bottom: 30px;
}

.user-profile{
    display: flex;
}

.user-profile .user img{
    width: 100px;
    margin-left: 30px;
}

.user-profile .user button{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    background-color: #000;
    border: 5px outset grey;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile .user .add-icon{
    color:#fff;
    text-decoration: none;
    font-size: 100px;
}

.user .add-text{
    margin-left: 15px;
}

.user-profile  .user p{
    color: grey;
    text-align: center;
    margin-top: 10px;
}

.user-profile .user p{
    text-align: center;
    font-size: 20px;
}

.users-container .text{
    color: grey;
    margin-top: 40px;
    padding: 10px;
}

@media(max-width: 700px){
    .logo{
        padding: 20px 5% 5% 5%;
    }
    .user-profile .user img{
        width: 70px;
    }
    .user-profile .user button{
        width: 70px;
        height: 70px;
    }
    .user-profile .user .add-icon{
        font-size: 70px;
    }
}

@media(max-width: 600px){
    .logo{
        padding: 20px 5% 10% 5%;
    }
    
}
@media(max-width: 521px){
    .users-container{
        padding: 10% 0;
        height:fit-content;
    }
    .users-container h1{
        margin-top: 40px;
        text-align: center;
        width: 100%;
    }
    .user-profile{
        flex-direction: column;
        padding: 20px;
        width: 100%;
        align-items: center;
    }
    .user{
        margin-top: 10%;
    }
    .user-profile .user img{
        width: 150px;
    }
    .user-profile .user button{
        width: 200px;
        height: 200px;
    }
    .user-profile .user .add-icon{
        font-size: 200px;
    }
    .user-profile  .user p{
        font-size: 30px;
    }
}
